.tabpanel-cet{
    background-color: #ffffff;
}


.tablist-cet{
    padding: 8px;
    /* border: 1px solid #858da5 ; */
    border-radius: 4px;
}


.fdfdf{
    background-color: #ffffff !important;
}

